<%= render 'shared/navbar' %>


<p id="notice"><%= notice %></p>

<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>Nombre</th>
        <th><%= sort_link(@q, :crew, 'Integrantes') %></th>
        <th>Tipo</th>
        <th>Estilo</th>
        <th>Status</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @groups.each do |group| %>
        <tr> 
          <td><%= group.name %></td>
          <td><%= group.crew %></td>
          <td><%= group.group_type %></td>
          <td><%= group.style %></td>
          <td><%= group.status %></td>
          <td><%= link_to group do %>
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-eye" width="32" height="32" viewBox="0 0 24 24" stroke-width="2" stroke="#00b341" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                  <circle cx="12" cy="12" r="2" />
                  <path d="M22 12c-2.667 4.667 -6 7 -10 7s-7.333 -2.333 -10 -7c2.667 -4.667 6 -7 10 -7s7.333 2.333 10 7" />
                </svg>
              <% end %>
          </td>
          <td><%= link_to group_edit_path(group.id) do %>
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-edit" width="32" height="32" viewBox="0 0 24 24" stroke-width="2" stroke="#00b341" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                  <path d="M9 7h-3a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-3" />
                  <path d="M9 15h3l8.5 -8.5a1.5 1.5 0 0 0 -3 -3l-8.5 8.5v3" />
                  <line x1="16" y1="5" x2="19" y2="8" />
                </svg>
              <% end %>
          </td>
          <td><%= link_to group, method: :delete, data: {confirm: 'Seguro?'}  do %>
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-eraser" width="32" height="32" viewBox="0 0 24 24" stroke-width="2" stroke="#ff4500" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                  <path d="M19 19h-11l-4 -4a1 1 0 0 1 0 -1.41l10 -10a1 1 0 0 1 1.41 0l5 5a1 1 0 0 1 0 1.41l-9 9" />
                  <line x1="18" y1="12.3" x2="11.7" y2="6" />
                </svg>
              <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to 'Crear nuevo Grupo', groups_new_path, class: 'btn btn-success' %>
</div>